<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/profile/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <title>REQUEST WITH BRAN</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/requests"><span>НАЗАД</span><i class="fas fa-undo"></i></a></li>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/"><span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span><i class="fas fa-home"></i></a></li>
                </ul>
            </nav>
        </div>

        <div class="profile">
        <table>
            <caption>ВЫБЕРИТЕ ОТДЕЛЕНИЕ</caption>
            <form action="" method="POST">
                <tr>
                    <td><button style="width: 300px;" name="department" value="Кардиология" type="submit">Кардиология</button></td>
                    <td><button style="width: 300px;" name="department" value="Аллергология" type="submit">Аллергология</button></td>
                    <td><button style="width: 300px;" name="department" value="Гастроэнтерология" type="submit">Гастроэнтерология</button></td>
                </tr>
                <tr>
                    <td><button style="width: 300px;" name="department" value="Эндокринология" type="submit">Эндокринология</button></td>
                    <td><button style="width: 300px;" name="department" value="Гинекология и урология" type="submit">Гинекология и урология</button></td>
                    <td><button style="width: 300px;" name="department" value="Неврология" type="submit">Неврология</button></td>
                </tr>
                <tr>
                    <td><button style="width: 300px;" name="department" value="Онкология" type="submit">Онкология</button></td>
                    <td><button style="width: 300px;" name="department" value="Травматология и ортопедия" type="submit">Травматология и ортопедия</button></td>
                    <td><button style="width: 300px;" name="department" value="Терапевтия" type="submit">Терапевтия</button></td>
                </tr>
                <tr>
                    <td><button style="width: 300px;" name="department" value="Психиатрия" type="submit">Психиатрия</button></td>
                    <td><button style="width: 300px;" name="department" value="Инфекционное отделение" type="submit">Инфекционное отделение</button></td>
                    <td><button style="width: 300px;" name="department" value="Реанимация" type="submit">Реанимация</button></td>
                </tr>
            </form>
        </table>
        </div>
    </div>
</body>
</html>