<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/profile/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <title>REQUESTS</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/"><span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span><i class="fas fa-home"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="profile">
            <table>
                <caption>ВЫБЕРИТЕ ИНТЕРЕСУЮЩИЙ ЗАПРОС</caption>
                <tr><td><button><a class="link" href="/requests/sql1">Сведения о пациентах в * отделении</a></button></td></tr>
                <tr><td><button><a class="link" href="/requests/sql2">Средний возраст пациентов * отделения</a></button></td></tr>
                <tr><td><button><a class="link" href="/requests/sql3">Сведения о врачах, принятых на работу в * году</a></button></td></tr>
                <tr><td><button><a class="link" href="/requests/sql4">Сведения о пациентах, выписавшихся за последние * дней</a></button></td></tr>
                <tr><td><button><a class="link" href="/requests/sql5">Сведения о пациентах, находящихся в госпитале на данный момент</a></button></td></tr>
            </table>
        </div>
    </div>
</body>
</html>