<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/profile/main.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.1/css/all.css">
    <title>NO AVAILABLE</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/save_cash">
                        <span>ВЫЙТИ И СОХРАНИТЬ</span>
                        <i class="far fa-save"></i>
                    </a></li>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/delete_cash">
                        <span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span>
                        <i class="fas fa-home"></i>
                    </a></li>
                </ul>
            </nav>
        </div>

        <div class="profile">
        <table>
            <caption style="width: 400px; margin-top: 60px;">ОШИБКА 372<br><br>В ДАННОМ ОТДЕЛЕНИИ<br>НЕТ СВОБОДНЫХ ПАЛАТ</caption>
        </table>
        </div>
    </div>
</body>
</html>