<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="/static/css/patient/infocard.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <title>CARD OF EXISTING PATIENT</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/doctors">
                        <span>НАЗАД</span>
                        <i class="fas fa-undo"></i>
                    </a></li>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/save_cash">
                        <span>ВЫЙТИ И СОХРАНИТЬ</span>
                        <i class="far fa-save"></i>
                    </a></li>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/delete_cash">
                        <span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span>
                        <i class="fas fa-home"></i>
                    </a></li>
                </ul>
            </nav>
        </div>

        <div class="profile">
            <div class="area1">
                <div class="image"></div>
            </div>
            <div class="area2">
                <table>
                    <caption>ИНФОРМАЦИЯ</caption>
                    <tr>
                        <th> {{ title_list[0] }} </th>
                        <td style="height:30px;"> {{ info_list[0] }} </td>
                    </tr>
                    <tr>
                        <th> {{ title_list[1] }} </th>
                        <td style="height:30px;"> {{ info_list[1] }} </td>
                    </tr>
                    <tr>
                        <th> {{ title_list[2] }} </th>
                        <td style="height:30px;"> {{ info_list[2] }} </td>
                    </tr>
                    <tr>
                        <th> {{ title_list[3] }} </th>
                        <td style="height:30px;"> {{ info_list[3] }} </td>
                    </tr>
                </table>

                <div class="area4">
                    <div class="location2">
                        <button class="button-main">
                            <a href="/patient/delete_cash">
                                <span>Удалить пациента</span>
                                <i class="far fa-minus-square"></i>
                            </a>
                        </button>
                    </div>

                    <div class="location3">
                        <button class="button-main">
                            <a href="/patient/send_to_db">
                                <i class="fas fa-user-plus"></i>
                                <span>Добавить пациента</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="history">
            <table>
                <caption>ИСТОРИЯ БОЛЕЗНЕЙ</caption>
                <tr>
                {% for key in history_list %}
                    <th> {{ key }} </th>
                {% endfor %}
                </tr>
                <tr>
                    {% for i in range(0, length) %}
                    <td>
                        {{ list[i] }}
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</body>
</html>