<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/patient/main.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.1/css/all.css">
    <title>NOT FOUNDED</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/delete_cash">
                        <span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span>
                        <i class="fas fa-home"></i>
                    </a></li>
                </ul>
            </nav>
        </div>

        <div class="container-2">
            <div class="transparent">
                <div class="form-inner">
                    <h3>
                        ПО ВАШЕМУ ЗАПРОСУ
                        <br>
                        НЕ НАЙДЕНО ПАЦИЕНТОВ
                    </h3>


                    <div class="add_or_found">
                        <button class="button-2">
                            <a href="/patient/add">
                                <span>Добавить пациента</span>
                                <i class="far fa-user-plus"></i>
                            </a>
                        </button>

                        <button class="button-2">
                            <a href="/patient/found">
                                <span>Попробовать поиск еще раз</span>
                                <i class="far fa-search"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>