<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/patient/main.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.1/css/all.css">
    <title>FOUND</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/main_menu">
                        <span>НАЗАД</span>
                        <i class="fas fa-undo"></i>
                    </a></li>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/patient/delete_cash">
                        <span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span>
                        <i class="fas fa-home"></i>
                    </a></li>
                </ul>
            </nav>
        </div>

        <div class="container-2">
            <form class="transparent">
                <div class="form-inner">
                    <h3>Поиск пациента в базе</h3>
                    <label style="padding-top: 40px;">Фамилия</label>
                    <input name="patient_surname" type="text">

                    <label>Имя</label>
                    <input name="patient_name" type="text">

                    <button class="button-search" type="submit" formmethod="POST">
                        <span style="left: 60px;">Поиск</span>
                        <i class="far fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>