<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="/static/css/app_base.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <title>Main Menu</title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">EMSEY HOSPITAL</div>

        <nav><ul>
            <li><a class="button-7" href="/notice">
                <span>УВЕДОМЛЕНИЯ</span>
                <i class="fas fa-bell"></i>
                <h2 class="notice">{{ amount }}</h2>
            </a></li>
            <li><a class="button-7" href="/patient">
                <span>НОВЫЙ ПАЦИЕНТ</span>
                <i class="fas fa-hospital-user"></i>
            </a></li>
            <li><a class="button-7" href="/cards">
                <span>ВАШИ ПАЦИЕНТЫ</span>
                <i class="fas fa-book-medical"></i>
            </a></li>
            <li><a class="button-7" href="/end">
                <span>ВЫЙТИ</span>
                <i class="fas fa-sign-out-alt"></i>
            </a></li>
        </ul></nav>
    </div>

    <div class="maincontainer">
        <div class="row">
            <div class="col">
                <div class="col_text">
                    <h1>О НАС</h1>
                    <br>
                    <p>Больница EMSEY - крупнейшее лечебное
                        <br>
                        учреждение столицы. Ежегодно здесь
                        <br>
                        проходят лечение более 200 тысяч человек.
                        <br>
                        <br>
                        Официальное открытие нашей больницы
                        <br>
                        состоялось в 1910 году, потому мы
                        <br>
                        являемся одной из старейших клиник в городе.
                        <br>
                        <br>
                        Сегодня больница EMSEY - современный
                        <br>
                        многопрофильный стационар, где оказывают
                        <br>
                        помощь по всем направлениям медицины.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>14</h5>
                    <h6>КЛИНИЧЕСКИХ</h6>
                    <h6>ОТДЕЛЕНИЙ</h6>
                </div>
                <div class="card card3">
                    <h5>6,5</h5>
                    <h6>ТЫЧ. СОТРУДНИКОВ</h6>
                </div>
                <div class="card card2">
                    <h5>4,5</h5>
                    <h6>МИЛЛИОНА</h6>
                    <h6>ПАЦИЕНТОВ</h6>
                    <h6>ЕЖЕГОДНО</h6>
                </div>
                <div class="card card4">
                    <h5>12</h5>
                    <h6>ТЫС. ЕДИНИЦ</h6>
                    <h6>ТЕХНИКИ</h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>