<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/patient/main.css">
    <link href="http://fonts.cdnfonts.com/css/airborne" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.1/css/all.css">
    <title>ERROR</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">EMSEY HOSPITAL</div>

            <nav>
                <ul>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/notice/patient">
                        <span>НАЗАД</span>
                        <i class="fas fa-undo"></i>
                    </a></li>
                    <li><a style="color: rgba(221, 221, 222);" class="button-7" href="/">
                        <span>ВЕРНУТЬСЯ В ГЛАВНОЕ МЕНЮ</span>
                        <i class="fas fa-home"></i>
                    </a></li>
                </ul>
            </nav>
        </div>

        <div class="container-2">
            <div class="transparent">
                <div class="form-inner">
                    <h3>ПОДТВЕРЖДЕНИЕ НЕДОСТУПНО</h3>
                    <br>
                    <br>
                    {% for i in range(0, length1) %}
                    <h3>
                        {{ reason[i] }}
                    </h3>
                    {% endfor %}

                    {% for i in range(0, length2) %}
                    <button class="patient_button">
                        <a href="{{ url[i] }}">
                            {{ button_name[i] }}
                        </a>
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>